body, *::before, *:after {
    box-sizing: border-box;
}

html {
    font-size:62.5%;
}

body {
    background-color:#FAF8F6;
    font-family: 'Epilogue', sans-serif;
    font-size:1.8rem;
    line-height: 3.2rem;
    font-weight: 400;

}

main {
    width:111rem;
    height:100vh;
    margin:auto
}

a {
    text-decoration: none;   
    text-align: center;    
    
}

h1 {
    font-size: 7.2rem;
    line-height: 7.8rem;    
}

span {
    font-size: 7.2rem;
    line-height: 7.8rem;
    font-weight: 700;
}


/* header section  */

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5rem;
}

.header > img {
    width:auto;
    height:2.5rem
}

.header-button > a {
    font-size: 1.6rem;
    font-weight: 700;
    color:#172339
}

.header-button {    
    height:5.6rem;
    margin-left: auto;
    width:22rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #172339;
    border-radius: 6px;
    
}


/* central section */

.central {
    width:100%;
    position: relative;
}

.central > img {
    position: absolute;
    left:47.4rem;
    display: inline-block;
    top:0;
    z-index: -1;
    height: 60rem;
    width:auto
}

.central-left {
    max-width: 65rem;
    
}

.central-left-p {
    max-width:35rem;
}

.central-left-button {
    height:5.6rem;    
    width:22rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #172339;
    border-radius: 6px;
    background-color:#172339;
    
}

.central-left-button > a {
   color:#ffffff    
}