body, *::before, *:after {
    box-sizing: border-box;
}

html {
    font-size:62.5%;
}

body {
    background-color:#FAF8F6;
    font-family: 'Epilogue', sans-serif;
    font-size:1.8rem;
    line-height: 3.2rem;
    font-weight: 400;
    position: relative;

}

main {
    width:111rem;
    height:100vh;
    margin:auto;
}

a {
    text-decoration: none;   
    text-align: center;    
    
}

h1 {
    font-size: 7.2rem;
    line-height: 7.8rem;    
}

span {
    font-size: 7.2rem;
    line-height: 7.8rem;
    font-weight: 700;
}

h2 {
    font-size: 4.8rem;
    line-height: 5.8rem;
    letter-spacing: -0.5px;
    font-weight: 700;
    color:#172339
}

h3 {
    font-weight: 700;
    color:#FAF8F6
}


/* header section  */

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 6.7rem;
}

.header > img {
    width:auto;
    height:2.5rem
}

.header-button > a {
    font-size: 1.6rem;
    font-weight: 700;
    color:#172339
}

.header-button {    
    height:5.6rem;
    margin-left: auto;
    width:22rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #172339;
    border-radius: 6px;
    
}

.header-button:hover {    
    background-color:#172339;
      
}

.header-button:hover > a{    
    color:#F2F2F2 
} 


/* central section */

.central {
    width:100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.central > img {
    position: absolute;
    left:47.4rem;
    display: inline-block;
    top:0;
    z-index: -1;
    height: 60rem;
    width:auto
}

.central-left {
    max-width: 65rem;
    
}

.central-left-p {
    max-width:35rem;
    padding-bottom: 5.3rem;
}

.central-left-h1 {
    padding-top: 10.3rem;
    padding-bottom: 4rem;
}

.central-left-button {
    height:5.6rem;    
    width:25.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #172339;
    border-radius: 6px;
    background-color:#172339;
    
}

.central-left-button:hover {        
    border:none;    
    background-color: rgba(160, 96, 255, 1);
    background-image: linear-gradient(168deg, rgba(160, 96, 255, 1) 35%, rgba(203, 48, 227, 1) 48%, rgba(255, 168, 78, 1) 88%);
    
}

.central-left-button > a {
   color:#ffffff    
}

.central-right {
    margin-left: auto;
    margin-right: 8rem;
}

.central-right p {
    font-size: 1.6rem;
    line-height: 2.6rem; 
    letter-spacing: 2.5px;

}

.central-right div:nth-child(1){
    margin-top: 8rem;
}

.central-right div:nth-child(2){
    padding:6.3rem 0 6.3rem 0;
}


/* Footer section  */

.footer {    
    width:100vw;
    height: 46.4rem;    
    background-color: #F3EDE7;
    position: absolute;
    top:125.2rem;
    left: 0;    
    
}

.footer-inside {
    width: 111rem;
    margin:auto;
    height: 100%;
    position: relative;
}

.footer-card {
    width:100%;    
    height: 54.5rem;  
    position: absolute;  
    transform: translateY(-50%);  
    background-color: #172339;
    border-radius: 1.5rem;
}

.footer-card-content {
    width: 100%;
    height: inherit;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.footer-card-content > img {
    position: absolute;
    bottom:0;
    left:12rem;    
    
}

.footer-card-content-rside {
 max-width: 35rem;
 margin: 8.8rem 12.5rem 0 0 
}

.footer-card-content-rside h2 {
    color: #FAF8F6;
    font-size: 4.8rem;
    line-height: 5.6rem;
   }

   .footer-card-content-rside h2 >span{
    color: inherit;
    font-size: 4.8rem;
    line-height: 5.6rem;
   }

.footer-card-content-rside h2{
    font-weight: 400;
   }


blockquote {
    font-size: 2rem;
    line-height: 3.5rem;
    color:#F3EDE7;
    margin: 4rem 0 4rem 0;
}



.footer-card-content-rside p{
    font-size: 1.6rem;
    line-height: 2.6rem; 
    letter-spacing: 2.5px;
    color:#F3EDE7
   }


.footer-bar {
    position: absolute;
    bottom:7.2rem;
    height:3.2rem;
    width:100%;    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bar > logo {
    height:100%;
    width:auto;
}

.rights {
    font-size: 15px;
    line-height: 32px;
    color: #49566D;
    text-align: center;
}

.icons {
    width:11.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons a {
    display: flex;
    align-items: center;
} 

.icons img:hover {
    filter: invert(56%) sepia(4%) saturate(520%) hue-rotate(186deg) brightness(95%) contrast(93%);
}

@media screen and (max-width:1150px) {

    html {
        font-size: 55%;  
      }   
    
    main {
        width:90%;
        margin: auto;
    }

    .central > img {
        position: absolute;
        right:0;
        left:auto;
        display: inline-block;
        top:0;
        z-index: -1;
        height: 100%;
        width:auto
    }

    .central-left {
        max-width: 70rem;
        
    }

    .central-right {
        margin-left: 0;
        margin-right: 0;
        position: absolute;
        bottom:-15rem;
        display: flex;
        justify-content: space-between;
        width:100%
    }

    .central-right > div:nth-of-type(1n){
        margin:0;
        padding: 0;
    }

    .central-right > div:nth-of-type(1){
        padding-left:3rem
    }

    .central-right > div:nth-of-type(3){
        padding-right:3rem
    }

    .footer-inside {
        width: 90%;
        margin:auto;
        height: 100%;
        position: relative;
    }

    .footer-card {
        width:100%;    
        height: 685px;
        transform: none;
        top:-33% 
        
    }

    .footer {    
        width:100vw;
        height: 640px;    
        background-color: #F3EDE7;
        position: absolute;
        top:125.2rem;
        left: 0;    
        
    }

    .footer-card-content > img {
        position: absolute;        
        left: 50%;
        transform: translateX(-50%);   
        top:-18rem;    
        height: 390px;
        width:auto;
    }

    .footer-card-content-rside {
        max-width: 90%;
        margin: 40rem auto auto auto;
        display: flex;
        flex-direction: column;
        align-items: center;
       }

    blockquote {
        text-align: center;
    }
    

}

@media screen and (max-width:650px){
    
    html {
        font-size: 62.5%;
    }

    h1 {
        font-size: 3.8rem;
        line-height: 4.4rem;    
    }

    span {
        font-size: 3.8rem;
        line-height: 4.4rem;
        font-weight: 700;
    }
    
    h2 {
        font-size: 4.8rem;
        line-height: 5.8rem;
        letter-spacing: -0.5px;
        font-weight: 700;
        color:#172339
    }
    
    blockquote {
        font-size: 1.6rem;
        line-height: 2.8rem;
    }

    .footer-card {            
        height: 750px;        
        
    }

    .footer-card-content-rside {        
        margin: 30rem auto auto auto;        
       }
    
    .central {        
        display: flex;
        flex-direction: column;        
        align-items: center;
    }

    .central > img {
        position:static;        
        display: inline-block;        
        z-index: 0;
        height: auto;
        width:100%;
    }

    .footer {
        top:200rem
    }

    .central-left-h1 {
        padding-top:0;
    }
    
    
}